  
   <div class="topnav">
    <a class="active" href="#">Logo</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
    {% if user.is_authenticated %}
      <div class="topnav-right">

      <a href="{% url 'dashboard' %}">ToDo</a>
      <a href="{% url 'profile' %}">Profile</a>
      <a href="{% url 'logout' %}">LogOut</a>
    </div>
    {% else %}      
    <div class="topnav-right">
      <a href="{% url 'signup_page' %}">SignUp</a>
      <a href="{% url 'login_page' %}">SignIn</a>
    </div>
    {% endif %}
  </div> 